[run]
branch = True
source = auto_tweet

[report]
omit =
    tests/*
    setup.py
exclude_lines =
    def __repr__
    def __str__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: