[run]
branch = True
source = coo

[report]
omit =
    tests/*
    setup.py
exclude_lines =
    def __repr__
    def __str__
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    self.set_media_file(None)
    return self.api.PostUpdate(update)
    return self.api.PostUpdate(update, media=media_file)
    with open(self.media, "rb") as media_file:  # type: ignore