[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-twitter = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
"flake8-mypy" = "*"
black = "*"

[requires]
python_version = "3.7"
