appdirs==1.4.3
appnope==0.1.0
arrow==0.13.1
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
binaryornot==0.4.4
black==18.9b0
bleach==3.0.2
CacheControl==0.12.5
cachy==0.2.0
certifi==2018.11.29
chardet==3.0.4
cleo==0.6.8
Click==7.0
cookiecutter==1.6.0
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
flake8==3.6.0
future==0.17.1
html5lib==1.0.1
idna==2.7
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.1
Jinja2==2.10
jinja2-git==0.2.0
jinja2-time==0.2.0
jsonschema==3.0.0a3
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
lockfile==0.12.2
MarkupSafe==1.1.0
mccabe==0.6.1
mistune==0.8.4
more-itertools==4.3.0
msgpack==0.6.0
mypy==0.650
mypy-extensions==0.4.1
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.2
pandocfilters==1.4.2
parso==0.3.1
pastel==0.1.0
pexpect==4.6.0
pickleshare==0.7.5
pipenv==2018.11.26
pkginfo==1.4.2
pluggy==0.8.0
poetry==0.12.11
poyo==0.4.2
prometheus-client==0.5.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.3.0
pylev==1.3.0
pyparsing==2.3.0
pyrsistent==0.14.7
pytest==4.0.1
python-dateutil==2.7.5
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.20.1
requests-toolbelt==0.8.0
Send2Trash==1.5.0
shellingham==1.2.7
six==1.11.0
terminado==0.8.1
testpath==0.4.2
toml==0.10.0
tomlkit==0.5.3
tornado==5.1.1
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.24.1
virtualenv==16.1.0
virtualenv-clone==0.4.0
wcwidth==0.1.7
webencodings==0.5.1
whichcraft==0.5.2
widgetsnbextension==3.4.2
